.event_container {
  border: 1px solid black;
  border-radius: 10px;
  background-color: #f7f3f3;
  margin: 20px;
  padding: 20px;
}

h2 {
  margin: 0;
  text-align: center;
}

input,
select {
  border-radius: 5px;
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
}

button {
  border: 1px solid black;
  background-color: #0fd616;
  color: white;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}

.events {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #f3f0f0;
  margin: 20px;
}

.event {
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: space-between;
}

.event p,
h3 {
  width: 150px;
}
